body{
    background-color: lightpink;
}

.portfolio {
    background-color: whitesmoke;
    margin:  1% , 8% , 5% ;
    border-radius: 10px;
    padding-top: 0px;
}

h1 {
    display: flex;
    color: rgb(104, 2, 104);
    background-color: palegoldenrod;
    padding-top: 20px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.hero{
    display: flex;
}

.hero img {
    width: 100%;
}