*{
    --purple: rgb(70, 36, 90)
}
body{
    background-color: lightpink;
    font-family: Arial, Helvetica, sans-serif;
}

.portfolio {
    background-color: whitesmoke;
    margin:  1% , 8% , 5% ;
    border-radius: 10px;
    padding-top: 0px;
}

header h1 {
    font-family: cursive;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    font-weight: 900 ;
    font-size: 7vw;
    color: var(--purple);
    background-color: palegoldenrod;
    padding-top: 1.75vw;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 10px;
}

header h1 p {
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: .5vw ;
}

.hero{
    display: flex;
}

footer{
    font-size: 5px;
    text-align: center;
}

.hero img {
    width: 100%;
}

h2{
    color: var(--purple);
    font-size: 6vw;
}

.about-me{
    display: inline-flex
}

.about-me p{
display: contents;
font-size: 2vw;
}

.work{
 display: inline-flex;
 margin-top: 2vw;
}

.img1{
    width: 150px;
    height: 100px;
  }
  
  
  .img2{
      width: 150px;
      height: 100px;
  }

  .img3{
      width: 150px;
      height: 100px;
  }

.work h2{
    margin-right: 2vw;
}

.grid-container{
    display: grid;
    width: 25%;
    grid-template-columns: repeat(auto-fit, 3, minmax(75px, 1fr));
    grid-template-rows: repeat(auto-fit, 2, minmax(50px, 1fr));
}

.grid-item-1{
   grid-column-start: 1;
   grid-column-end: 3;
   grid-row-start: 1;
   grid-row-end: 3 ;

}

.contact{
    display: inline-flex;
    justify-content: space-around;
    color: var(--purple);
    font-size: 2vw;
}